[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
v = {editable = true,version = "*"}
numpy = "*"
autograd = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
mypy = "*"
blackcellmagic = "*"
hypothesis = {extras = ["numpy"],version = "*"}
sympy = "*"
pytest = "*"
pytest-benchmark = "*"

[packages]
mpi4py = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
